<div class="container-fluid home">

    <div class="row r2">

        <div class="col-lg-8 r2c2">
            <img class="img" src="../../../assets/images/dell/15.06.2023_Dell Optiplex CCF VF Compliance.jpg"
                alt="Dell Optiplex">
        </div>

        <div class="col-lg-4 r2c1">
            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <h6 class="h6">Complete the form below</h6>
                <div class="row r2c1r1">
                    <div class="col-lg-12 r2c1r1c1">
                        <mat-form-field class="mat-form-field" style="font-size: small; width: 100%;" appearance="fill">
                            <mat-label class="mat-label" style="font-size: small;">Office Email</mat-label>
                            <input name="Email" type="email" class="input" formControlName="email"
                                placeholder="name@company_name.com" matInput>
                            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                Please enter a valid <strong>Office Email</strong> address.
                            </mat-error>
                            <mat-error *ngIf="email.hasError('required')">
                                Email is <strong>required.</strong>
                            </mat-error>
                            <mat-error *ngIf="email.hasError('personalEmail')">
                                Only <strong>office emails</strong> allowed.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 r2c1r1c1">
                        <mat-form-field class="mat-form-field" style="font-size: small; width: 100%;" appearance="fill">
                            <mat-label class="mat-label" style="font-size: small;">Full Name</mat-label>
                            <input name="Full Name" type="text" class="input" formControlName="fullName" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 r2c1r1c1">
                        <mat-form-field class="mat-form-field" style="font-size: small; width: 100%;" appearance="fill">
                            <mat-label class="mat-label" style="font-size: small;">Website Name</mat-label>
                            <input name="Website Name" placeholder="www.example.com" type="text" class="input"
                                formControlName="websiteName" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 r2c1r1c1">
                        <mat-form-field class="mat-form-field" style="font-size: small; width: 100%;" appearance="fill">
                            <mat-label class="mat-label" style="font-size: small;">Job Title</mat-label>
                            <input name="Job Title" type="text" class="input" formControlName="jobTitle" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 r2c1r1c1">
                        <mat-form-field class="mat-form-field" style="font-size: small; width: 100%;" appearance="fill">
                            <mat-label class="mat-label" style="font-size: small;">Company Name</mat-label>
                            <input name="Company Name" type="text" class="input" formControlName="companyName" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 r2c1r1c1">
                        <mat-form-field class="mat-form-field" style="font-size: small; width: 100%;" appearance="fill">
                            <mat-label class="mat-label" style="font-size: small;">Phone</mat-label>
                            <input name="Phone" type="tel" class="input" formControlName="phone" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 r2c1r1c1">
                        <mat-form-field class="mat-form-field" style="font-size: small; width: 100%;" appearance="fill">
                            <mat-label class="mat-label" style="font-size: small;">Alternative Phone Number</mat-label>
                            <input name="Alternative Phone Number" type="tel" class="input"
                                formControlName="alternativePhoneNo" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 r2c1r1c15">
                        <h6 class="h6">Is your organization considering a refresh, upgrade, or new deployment of any
                            of the following technologies/solutions? (Tick all that apply) *</h6>
                        <section class="section" name="Is your organization considering a refresh, upgrade, or new deployment of any
							of the following technologies/solutions?" formGroupName="techSolutions">
                            <div class="row r2c1r1c15r1">
                                <div class="col-lg-12 r2c1r1c15r1c1">
                                    <mat-checkbox class="mat-checkbox" [value]="'Laptops'" name="Laptops"
                                        formControlName="laptops">
                                        <h6 class="h6">Laptops</h6>
                                    </mat-checkbox>
                                    <mat-checkbox class="mat-checkbox" [value]="'Workstations'" name="Workstations"
                                        formControlName="workstations">
                                        <h6 class="h6">Workstations</h6>
                                    </mat-checkbox>
                                    <mat-checkbox class="mat-checkbox" [value]="'Data Storage'" name="Data Storage"
                                        formControlName="dataStorage">
                                        <h6 class="h6">Data Storage</h6>
                                    </mat-checkbox>
                                    <mat-checkbox class="mat-checkbox" [value]="'Monitors & Accessories'"
                                        name="Monitors & Accessories" formControlName="monitors">
                                        <h6 class="h6">Monitors & Accessories</h6>
                                    </mat-checkbox>
                                    <mat-checkbox class="mat-checkbox" [value]="'Desktops & All-In-One PCs'"
                                        name="Desktops & All-In-One PCs" formControlName="desktops">
                                        <h6 class="h6">Desktops & All-In-One PCs</h6>
                                    </mat-checkbox>
                                    <mat-checkbox class="mat-checkbox" [value]="'Servers'" name="Servers"
                                        formControlName="servers">
                                        <h6 class="h6">Servers</h6>
                                    </mat-checkbox>
                                    <mat-checkbox class="mat-checkbox" [value]="'Networking'" name="Networking"
                                        formControlName="networking">
                                        <h6 class="h6">Networking</h6>
                                    </mat-checkbox>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-12 r2c1r1c17">
                        <h6 class="h6">If yes, what is the time frame within which you are looking to implement the
                            above solutions?</h6>
                        <mat-form-field appearance="fill" style="font-size: small; width: 100%;">
                            <mat-label class="mat-label" style="font-size: small;">Options</mat-label>
                            <mat-select class="input"
                                name="If yes, what is the time frame within which you are looking to implement the above solutions ?"
                                style="font-size: small;" formControlName="timeFrame">
                                <mat-option style="font-size: small;" *ngFor="let month of months"
                                    [value]="month.value">
                                    {{month.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 r2c1r1c17">
                        <h6 class="h6">Has your organization allocated a budget for the above-mentioned requirement?
                        </h6>
                        <div class="row r2c1r1c17r1">
                            <div class="col-lg-12 r2c1r1c17r1c1">
                                <mat-radio-group class="radio-group"
                                    name="Has your organization allocated a budget for the above-mentioned requirement?"
                                    formControlName="allocatedBudget">
                                    <mat-radio-button class="radio-button" *ngFor="let budget of budgets"
                                        [value]="budget.value"> {{budget.viewValue}} </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 r2c1r1c1">
                        <h6 class="h6">Would you like to get a call from
                            Dell Tech Advisor to suggest you the best fit for your tech requirements?</h6>
                        <mat-form-field appearance="fill" style="font-size: small; width: 100%;">
                            <mat-label class="mat-label" style="font-size: small;">Yes or No</mat-label>
                            <mat-select class="input"
                                name="Would you like to be contacted by a Dell Technologies Advisor to discuss your IT requirements?"
                                style="font-size: small;" formControlName="contactAgain">
                                <mat-option style="font-size: small;" *ngFor="let yesOrNo of contactAgain"
                                    [value]="yesOrNo.value">
                                    {{yesOrNo.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <button class="form-button" mat-raised-button [disabled]="form.invalid" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>